蔡思敏/week09/意图识别及RAG问答系统.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 意图识别及RAG问答系统
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.26@4f1c4ded3d189719b7dd54e9d4e5b26f724f3632f3dfaa299491b42accc112c8
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1774187549871-source-1774187595311-target
      source: '1774187549871'
      sourceHandle: source
      target: '1774187595311'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1774187595311-source-1774187782437-target
      source: '1774187595311'
      sourceHandle: source
      target: '1774187782437'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774187782437-e4db03ec-96f3-42fa-808e-278933938c1f-1774187933775-target
      source: '1774187782437'
      sourceHandle: e4db03ec-96f3-42fa-808e-278933938c1f
      target: '1774187933775'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774187782437-true-1774187993781-target
      source: '1774187782437'
      sourceHandle: 'true'
      target: '1774187993781'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774187782437-eed8838d-5cad-463e-a131-1000ed8b5279-1774188063141-target
      source: '1774187782437'
      sourceHandle: eed8838d-5cad-463e-a131-1000ed8b5279
      target: '1774188063141'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774187993781-source-1774188105498-target
      source: '1774187993781'
      sourceHandle: source
      target: '1774188105498'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774188063141-source-1774188163212-target
      source: '1774188063141'
      sourceHandle: source
      target: '1774188163212'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1774188105498-source-1774188319141-target
      source: '1774188105498'
      sourceHandle: source
      target: '1774188319141'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1774188163212-source-1774188383829-target
      source: '1774188163212'
      sourceHandle: source
      target: '1774188383829'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1774187933775-source-1774188394326-target
      source: '1774187933775'
      sourceHandle: source
      target: '1774188394326'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 用户提问
          max_length: 255
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: query
      height: 109
      id: '1774187549871'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774187549871'
          - query
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5-72b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - role: system
          text: '你是一个意图识别专家。你需要判断用户的问题属于以下哪个类别：


            1. 机器学习相关：涉及机器学习算法、模型训练、特征工程、数据预处理、评估指标、传统ML算法（如决策树、SVM、随机森林、XGBoost等）等内容。


            2. 大模型相关：涉及大语言模型（LLM）、GPT、Transformer架构、Prompt Engineering、模型微调、RAG、Agent、大模型部署等内容。


            3. 其他：不属于以上两类的任何问题，如日常对话、无关技术问题、编程基础、运维问题等。


            请严格按照以下格式输出，只输出类别编号：

            - 输出 "ML" 表示机器学习相关

            - 输出 "LLM" 表示大模型相关

            - 输出 "OTHER" 表示其他'
        - id: 0b1db0ef-2841-4d6e-bb94-4759f575f7d8
          role: user
          text: '{{#1774187549871.query#}}}'
        selected: false
        title: 意图识别
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774187595311'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: c5ec611f-36ea-473d-a19c-52195d822d19
            value: ML
            varType: string
            variable_selector:
            - '1774187595311'
            - text
          id: 'true'
          logical_operator: and
        - case_id: eed8838d-5cad-463e-a131-1000ed8b5279
          conditions:
          - comparison_operator: contains
            id: 0b901032-9b57-45d4-905c-75bb103d1f5c
            value: LLM
            varType: string
            variable_selector:
            - '1774187595311'
            - text
          id: eed8838d-5cad-463e-a131-1000ed8b5279
          logical_operator: and
        - case_id: e4db03ec-96f3-42fa-808e-278933938c1f
          conditions:
          - comparison_operator: contains
            id: 3aaae883-8282-46e6-b11b-541adb710601
            value: OTHER
            varType: string
            variable_selector:
            - '1774187595311'
            - text
          id: e4db03ec-96f3-42fa-808e-278933938c1f
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 220
      id: '1774187782437'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5-72b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - role: system
          text: 你是一个智能助手。用户提出的问题与机器学习和大模型技术无关，请用友好、专业的语气直接回答用户的问题。
        - id: 054c6ad2-0a70-4fd4-855a-1d59c8640b0a
          role: user
          text: '{{#1774187549871.query#}}}'
        selected: false
        title: 直接回答
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774187933775'
      position:
        x: 994
        y: 454
      positionAbsolute:
        x: 994
        y: 454
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 6S+YPwX1dYetLZpJUn8iTtlzTmbiHdcZiBHRx6W4U1zh/Z/SPbCVwfq103jXTPhx
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774187549871'
        - query
        retrieval_mode: multiple
        selected: false
        title: 机器学习知识库
        type: knowledge-retrieval
      height: 90
      id: '1774187993781'
      position:
        x: 994
        y: 113
      positionAbsolute:
        x: 994
        y: 113
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - U+4wQnsbNbz7AAinMOGegACNvCM8ot5XrP7vCQcHpsGDt9nRIdejk9InG3gJh9Ph
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774187549871'
        - query
        retrieval_mode: multiple
        selected: false
        title: 大模型知识库
        type: knowledge-retrieval
      height: 90
      id: '1774188063141'
      position:
        x: 1002
        y: 276
      positionAbsolute:
        x: 1002
        y: 276
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5-72b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 2f66fd80-60a5-4ed0-9d04-8a4f01f89d7e
          role: system
          text: 你是一个专业的机器学习专家。请基于提供的知识库内容，回答用户关于机器学习的问题。
        - id: bde840cf-1d50-42c1-9e4b-fc328004462c
          role: user
          text: '{{#1774187549871.query#}}}

            '
        selected: false
        title: 机器学习回答
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774188105498'
      position:
        x: 1296
        y: 113
      positionAbsolute:
        x: 1296
        y: 113
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5-72b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 95332ae2-7cbf-434d-96ac-547aefea4570
          role: system
          text: 你是一个专业的大模型专家。请基于提供的知识库内容，回答用户关于大模型的问题。
        - id: ee57702d-0e0c-450f-801e-1b910f97f962
          role: user
          text: '{{#1774187549871.query#}}}

            '
        selected: false
        title: 大模型回答
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774188163212'
      position:
        x: 1304
        y: 276
      positionAbsolute:
        x: 1304
        y: 276
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1774188105498'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1774188319141'
      position:
        x: 1598
        y: 113
      positionAbsolute:
        x: 1598
        y: 113
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1774188063141'
          - result
          value_type: array[object]
          variable: result
        selected: false
        title: 输出 2
        type: end
      height: 88
      id: '1774188383829'
      position:
        x: 1606
        y: 276
      positionAbsolute:
        x: 1606
        y: 276
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1774187933775'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出 3
        type: end
      height: 88
      id: '1774188394326'
      position:
        x: 1296
        y: 454
      positionAbsolute:
        x: 1296
        y: 454
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 16.446753223840915
      y: 122.38742632708028
      zoom: 0.5946035615922083
  rag_pipeline_variables: []
