肖海浪/week09/作业一：应用-体脂健康建议.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 应用-体脂健康建议
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.2@fcf107badccaf57948634ad2c557d393c3894138d83f4eb3f959e9a1d3a86512
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1750247789086-source-1750247864708-target
      source: '1750247789086'
      sourceHandle: source
      target: '1750247864708'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1750247864708-source-1750248183676-target
      source: '1750247864708'
      sourceHandle: source
      target: '1750248183676'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1750248183676-source-1750248311782-target
      source: '1750248183676'
      sourceHandle: source
      target: '1750248311782'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1750248311782-source-1750248397090-target
      selected: false
      source: '1750248311782'
      sourceHandle: source
      target: '1750248397090'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 性别
          max_length: 48
          options:
          - 男
          - 女
          required: true
          type: select
          variable: sex
        - label: 身高（cm）
          max_length: 48
          options: []
          required: true
          type: number
          variable: height
        - label: 体重（kg）
          max_length: 48
          options: []
          required: true
          type: number
          variable: weight
        - hint: ''
          label: 年龄（岁数）
          options: []
          placeholder: ''
          required: true
          type: number
          variable: age
      height: 185
      id: '1750247789086'
      position:
        x: -260.73610940738706
        y: 168.26266895464454
      positionAbsolute:
        x: -260.73610940738706
        y: 168.26266895464454
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(sex: str, height: int, weight: int) -> dict:\n    # 根据性别选择不同的体脂率计算公式\n\
          \    if sex.lower() == '男':\n        # 男性体脂率计算公式\n        body_fat_percentage\
          \ = 1.2 * (weight / (height / 100) ** 2) + 0.23 * 0.45 - 16.2\n    elif\
          \ sex.lower() == '女':\n        # 女性体脂率计算公式\n        body_fat_percentage\
          \ = 1.2 * (weight / (height / 100) ** 2) + 0.23 * 0.45 - 5.4\n\n    # 确保体脂率在合理范围内\n\
          \    if body_fat_percentage < 0:\n        body_fat_percentage = 0\n    elif\
          \ body_fat_percentage > 100:\n        body_fat_percentage = 100\n\n    return\
          \ {\"body_fat_percentage\": round(body_fat_percentage, 2)}\n"
        code_language: python3
        desc: ''
        outputs:
          body_fat_percentage:
            children: null
            type: number
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1750247789086'
          - sex
          variable: sex
        - value_selector:
          - '1750247789086'
          - height
          variable: height
        - value_selector:
          - '1750247789086'
          - weight
          variable: weight
      height: 50
      id: '1750247864708'
      position:
        x: 11.97171152825348
        y: 274.83358010457414
      positionAbsolute:
        x: 11.97171152825348
        y: 274.83358010457414
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: qwen3:8b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: f3024c0a-017c-4519-96d8-a53a4e2a62c5
          role: system
          text: 你是营养专家，请结合用户的体脂比状态给出有效的建议。
        - id: f78173fa-6b4e-4f0b-9728-b39614a2d899
          role: user
          text: '用户信息如下：

            - 年龄：{{age}} 岁

            - 性别：{{gender}}

            - 身高：{{height}} cm

            - 体重：{{weight}} kg

            - 体脂率：{{body_fat}} %


            请根据用户的年龄阶段（如青少年、成年、老年）结合体脂率，给出个性化的健康建议。

            注意：如果用户年龄小于18岁或大于60岁，请特别强调咨询专业医生的重要性。'
        selected: true
        structured_output_enabled: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 86
      id: '1750248183676'
      position:
        x: 272.4013965152876
        y: 580.1506824047775
      positionAbsolute:
        x: 272.4013965152876
        y: 580.1506824047775
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        selected: false
        template: '## 用户基本信息


          - 性别 {{ sex }}

          - 身高 {{ height }}

          - 体重 {{ weight }}

          - 年龄 {{ age }}

          ## 体脂比


          {{ body_fat_percentage }}


          ## 健康建议


          {{ text }}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1750247789086'
          - height
          variable: height
        - value_selector:
          - '1750247789086'
          - weight
          variable: weight
        - value_selector:
          - '1750247864708'
          - body_fat_percentage
          variable: body_fat_percentage
        - value_selector:
          - '1750248183676'
          - text
          variable: text
        - value_selector:
          - '1750247789086'
          - sex
          variable: sex
        - value_selector:
          - '1750247789086'
          - age
          value_type: number
          variable: age
      height: 50
      id: '1750248311782'
      position:
        x: 353.9514170523545
        y: 226.58926351679867
      positionAbsolute:
        x: 353.9514170523545
        y: 226.58926351679867
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1750248311782'
          - output
          variable: output
        selected: false
        title: 结束
        type: end
      height: 87
      id: '1750248397090'
      position:
        x: 667.4143743399504
        y: 451.9236140443413
      positionAbsolute:
        x: 667.4143743399504
        y: 451.9236140443413
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 430.2988317359501
      y: -153.83179974707832
      zoom: 1.4337867223331473
  rag_pipeline_variables: []
