赵晓琼/week09/作业2.yml
app:
  description: 意图识别和rag问答
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 意图识别及rag问答
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.26@4f1c4ded3d189719b7dd54e9d4e5b26f724f3632f3dfaa299491b42accc112c8
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1774484599242-source-1774484878920-target
      source: '1774484599242'
      sourceHandle: source
      target: '1774484878920'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: if-else
      id: 1774484878920-1-1774485196418-target
      source: '1774484878920'
      sourceHandle: '1'
      target: '1774485196418'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: if-else
      id: 1774484878920-2-1774485217754-target
      source: '1774484878920'
      sourceHandle: '2'
      target: '1774485217754'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: if-else
      id: 1774484878920-1774485014140-1774485225077-target
      source: '1774484878920'
      sourceHandle: '1774485014140'
      target: '1774485225077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774485305569-source-answer-target
      source: '1774485305569'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774485409790-source-1774485482996-target
      source: '1774485409790'
      sourceHandle: source
      target: '1774485482996'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774485460625-source-1774485490017-target
      source: '1774485460625'
      sourceHandle: source
      target: '1774485490017'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774485225077-true-1774485305569-target
      source: '1774485225077'
      sourceHandle: 'true'
      target: '1774485305569'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774485196418-true-1774485409790-target
      source: '1774485196418'
      sourceHandle: 'true'
      target: '1774485409790'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774485217754-true-1774485460625-target
      source: '1774485217754'
      sourceHandle: 'true'
      target: '1774485460625'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774485482996-source-answer-target
      source: '1774485482996'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774485490017-source-answer-target
      source: '1774485490017'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1774484599242'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '通用回答：{{#1774485305569.text#}}

          LLM回答生成：{{#1774485490017.text#}}

          ML回答生成：{{#1774485482996.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 140
      id: answer
      position:
        x: 1579.0777279268266
        y: 409
      positionAbsolute:
        x: 1579.0777279268266
        y: 409
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 涉及机器学习算法、SVM、随机森林、神经网络、训练模型等相关问题。
        - id: '2'
          name: 涉及大模型、LLM、Transformer、GPT、Prompt工程、生成式AI等相关问题。
        - id: '1774485014140'
          name: '名称：其他

            描述：闲聊、打招呼或者与上述两个技术领域无关的问题'
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5-72b-instruct
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - sys
        - query
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 208
      id: '1774484878920'
      position:
        x: 380
        y: 409
      positionAbsolute:
        x: 380
        y: 409
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 6fb9583f-76b6-4d5a-843d-07b56bc0862e
            value: 学习算法、SVM、随机森林、神经网络、训练模型
            varType: string
            variable_selector:
            - '1774484878920'
            - class_name
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 148
      id: '1774485196418'
      position:
        x: 682
        y: 409
      positionAbsolute:
        x: 682
        y: 409
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: de3d9c3e-5a1e-4ab6-be73-f552803a7f6a
            value: 涉及大模型、LLM、Transformer、GPT、Prompt工程、生成式AI等相关问题。
            varType: string
            variable_selector:
            - '1774484878920'
            - class_name
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 2
        type: if-else
      height: 148
      id: '1774485217754'
      position:
        x: 682
        y: 548
      positionAbsolute:
        x: 682
        y: 548
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 6de3ec10-1938-41c0-8dfd-734c0092d3e5
            value: 其他
            varType: string
            variable_selector:
            - '1774484878920'
            - class_name
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 3
        type: if-else
      height: 148
      id: '1774485225077'
      position:
        x: 682
        y: 687
      positionAbsolute:
        x: 682
        y: 687
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5-7b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 60c25de1-e40e-4c8e-8927-ad5fad884f2f
          role: system
          text: 你是一个乐于助人的助手，请直接回答用户的问题:{{#sys.query#}}
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774485305569'
      position:
        x: 984
        y: 409
      positionAbsolute:
        x: 984
        y: 409
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - oYoD6AWEL9m80UqGVNyhogpcTvolzej3ZqsE7PwNqP8u+qnyCoWCeJIY02JPLe9z
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: null
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774484599242'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1774485409790'
      position:
        x: 984
        y: 548
      positionAbsolute:
        x: 984
        y: 548
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - Xsq30sqxTlotfvp8WJ4+5RCiIBdl3zw/uD+74WkK8GnhwfyDQ2euAeFLR7Xz6wRU
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774484599242'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索 2
        type: knowledge-retrieval
      height: 90
      id: '1774485460625'
      position:
        x: 984
        y: 687
      positionAbsolute:
        x: 984
        y: 687
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774485409790'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5-7b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 26dc2950-954f-4cb0-bd86-fe4bfabc9cda
          role: system
          text: '你是机器学习专家。根据以下上下文回答用户问题。

            上下文：{{#context#}}

            问题：{{{#sys.query#}}}}'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774485482996'
      position:
        x: 1286
        y: 548
      positionAbsolute:
        x: 1286
        y: 548
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774485460625'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5-72b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 1324fc8f-ca47-4f8a-9c11-be09a2c59514
          role: system
          text: '你是大模型专家。根据以下上下文回答用户问题。如果不会请回答超出认知范围。

            上下文：{{#context#}}

            问题：{{#sys.query#}}/'
        selected: true
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774485490017'
      position:
        x: 1286
        y: 687
      positionAbsolute:
        x: 1286
        y: 687
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 75.61085380228792
      y: 81.23092168426689
      zoom: 0.6237097504546891
  rag_pipeline_variables: []
